.fullScreenPage{
  position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

  overflow:scroll;

  -webkit-overflow-scrolling: touch;
}


.fullScreenPage__topbar{
  position:relative;
}


.fullScreenPage__topbarBottom{
  padding:1em;

  position:relative;
}

.fullScreenPage__topbar--fixed{
  position:absolute;
    top:0;
    right:0;
    left:0;

  height:$topbar-height;

}


.fullScreenPage__topbarBottom--fixed{
  position:absolute;
    top:$topbar-height;
    left:0;
    right:0;
    bottom:0;

  -webkit-overflow-scrolling: touch;

}


.fullScreenPage__top{
  position:absolute;
    top:0;
    right:0;
    left:0;

  box-sizing:border-box;
  height:10%;
  padding:5px;
}

.fullScreenPage__bottom {
  position:absolute;
    right:0;
    left:0;
    bottom:0;


  box-sizing:border-box;
  height:90%;

  padding:5px;

  overflow:scroll;
  -webkit-overflow-scrolling: touch;

}

.fullScreenPage__full{
  position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;

  box-sizing:border-box;
  padding:5px;

  overflow:scroll;
}

