extends /layouts/struct

block content
  .fullScreenPage
    .fullScreenPage__top
      .topbar
        block topbar

    .fullScreenPage__topbarBottom
      .fullScreenPage__full
        block basic_content

