extends /layouts/struct

block content
  .fullScreenPage
    .topbar
      block topbar

    .fullScreenPage__topbarBottom
      .fullScreenPage__top
        block stimulus_content
      .fullScreenPage__bottom
        block question_content
            
