extends /layouts/struct

block content
  .fullScreenPage
    .fullScreenPage__topbar
      .topbar
        block topbar

    .fullScreenPage__topbarBottom
      .fullScreenPage__top
        block stimulus_content
      .fullScreenPage__bottom
        block question_content
            
