extends /layouts/basic_layout

block topbar
  .title Kotodama

block basic_content

  h1 結果報告
  p 今までの完全回答数
  それぞれの刺激（ことだま）ごとの回答

  table
    thead
      tr
        td
        td
        td
    tbody
      tr
        td
        td
        td

    
