extends /layouts/basic_layout

block topbar
  include /includes/topbar
  +topbar(user_answer)

block basic_content
  h1 結果報告

  table
    tr
      td
        a.button(href="/admin/users") ユーザーの回答
      td 
        a.button(href="/admin/questionnaire_answers") 全ての回答
    tr
      td 
        a.button(href="/admin/kotodamas") コトダマごとに見る

      td 
        a.button(href="/admin/questions") 質問ごとに見る
  
