extends /layouts/basic_layout

block topbar
  .title Kotodama

block basic_content
  .questionArea
    p コトダマとは
    p ふがふが
    p ほげほげ
    p ふがふが
    p ほげほげ
    p ふがふが
    p ほげほげ
    p ふがふが
    p ほげほげ
    p ふがふが
    p ほげほげ

    p.aligncenter
      a.button(href="questionnaires/start") 調査を開始


