extends /layouts/basic_layout

block topbar
  include /includes/topbar
  +topbar(user_answer)

block basic_content
  .questionArea
    p 支持率調査への多大なご協力、ありがとうございました。

    p あなたのデザイン感覚支持率は
      strong #{Math.floor(total_total_point *100)} %
      |です。

    
    if total_total_point  > 0.9
      p 非常に多くの方に支持され、称賛されるでしょう。
    else if total_total_point  > 0.8
      p 多くの方に支持され、共感を得るでしょう。
    else if total_total_point  > 0.6
      p 広く受け入れられており、親しみをもたれるでしょう。
    else if total_total_point  > 0.4
      p 少し独創的で周りの人に一目置かれるでしょう。
    else if total_total_point  > 0.2
      p 独創的で根強いファンがつくでしょう。
    else if total_total_point  > 0.1
      p 前衛的で一部の人が強く支持するでしょう。
    else 
      p とても前衛的でカリスマ的感覚の持ち主です。


    

    - qs = Object.assign({}, results);
    - var rows_num = 5;
    - var questionnaires_rows = [];
    - while(qs.length > rows_num){
    -   questionnaires_rows.push(qs.splice(0, rows_num));
    - };
    - questionnaires_rows.push(qs);

    table
      each questionnaires_row in questionnaires_rows
        tr
          each questionnaire in questionnaires_row
            td
              img(src="/images/kotodamas/#{questionnaire.id.slice(1)}.png")
              p.aligncenter #{ Math.floor( questionnaire.total_point * 100 )} %
              
    p.aligncenter
      a.button(href="/questionnaires/start") 他の回答を作成

    p.aligncenter
      a.button(href="/") トップに戻る
