extends /layouts/basic_layout

block topbar
  include /includes/topbar
  +topbar(user_answer)
  a(href="/admin") 管理画面トップ


block basic_content
  include /includes/answerScale

  table 
    thead
      tr 
        td コトダマ
        td ステータス
    tbody
      each questionnaire in questionnaires_with_ave_var
        tr 
          td(style="width:20%")
            a(href="#{path.join(url, questionnaire.questionnaire_id)}") #{questionnaire.questionnaire_id}
          td 
            each question_id in Object.keys(questionnaire.question_answers_ave_var)
              - var q_answer = questionnaire.question_answers_ave_var[question_id]
              - var question = questions.find(q=> q.id == question_id)

              p 
              div(style="text-align:center;margin-bottom:0")= question.left + " < = >  " +  question.right

              - var ave = q_answer.ave_rate;
              - var dev = q_answer.dev_rate;
              +answerScale(ave, dev, null, null, null)

          
            
            
