extends /layouts/stimulus_layout

block topbar
  include /includes/topbar
  +topbar(user_answer)
  a(href="/admin") 管理画面トップ
  a(href="#{path.join(url,'../')}") 一覧に戻る

block stimulus_content
  .stimulusArea
    img(src="/images/kotodamas/#{questionnaire_id.slice(1)}.png")

block question_content
  .questionArea
    include /includes/answerScale

    p
      a(href="/admin/kotodamas/csv/#{questionnaire_id}") CSVで開く

    each question_id in Object.keys(answer_feedbacks)
      - other_answer =  answer_feedbacks[question_id]
      - var question = questions.find(q=> q.id == question_id)

      p(style="text-align:center;margin-bottom:0")= question.left + " < = >  " +  question.right

      - var ave = other_answer.ave_rate;
      - var dev = other_answer.dev_rate;
      - var data = other_answer.data_rate;
      +answerScale(ave, dev, null, null, data)
          

      hr
