extends /layouts/stimulus_layout

block topbar
  include /includes/topbar
  +topbar(user_answer)

block stimulus_content
  .stimulusArea 
    h1 #{questionnaire_id}

block question_content
  .questionArea
    if answers!=null
      if empty_questions.length > 0
        p(style="color:red") この設問には未回答の回答があります
      else
        p この設問には回答済みです

    include /includes/questionTable
    form(action="#{url}" method="post")
      each question in questions
        +questionTable(question, scale_num, answers)

      p.aligncenter
        input(type="submit" value="送信")

