extends /layouts/basic_layout

block topbar
  include /includes/topbar
  +topbar(user_answer)

block basic_content
  .questionArea
    p 設問一覧

    table 
      thead
        tr 
          td コトダマ
          td ステータス
      tbody
        each questionnaire in questionnaires
          tr 
            td 
              a(href="/questionnaires/#{questionnaire.id}") #{questionnaire.id}
            td 
              - var the_answer = questionnaire_answers[questionnaire.id]
              if the_answer != null
                p 回答あり
                
                if the_answer.hasEmpty
                  p 回答は完全ではありません
                else
                  p 回答は完了しています。
              else
                p 未回答です。

