extends /layouts/basic_layout

block topbar
  include /includes/topbar
  +topbar(user_answer)
  a(href="/admin") 管理画面トップ
  |>
  a(href="/admin/questions") 質問xコトダマ

block basic_content
  include /includes/answerScale
  include /includes/questionHeader

  h1 質問一覧

  p 
    a(href="#{url}.csv") csv

  - var sorted_questions = questions.sort((a,b)=>a.dev_rate - b.dev_rate)

  each question in sorted_questions



    - var ave = question.ave_rate;
    - var dev = question.dev_rate;
    - var data = question.data_rate;

    div(style="margin-bottom:3px;")
      +questionHeader(question)
      +answerScale(ave, dev, null, null, data,question)

